<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DASO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1F347161FA2AC5E0066764D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F3472A1FA2AC5F0066764D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F347351FA2AC5F0066764D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
